<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-walkingpad-client</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>BAF9DFCC-8CA0-404E-9F29-ED4127DFE9E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C4E5C58-FF21-42CC-A0EA-3F68581DA9E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthias Klaß</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred DFT200 Client</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Start","arg":"start"},{"title":"Stop","arg":"stop"},{"title":"Pause","arg":"pause"},{"title":"Speed 10","arg":"speed\/10"},{"title":"Speed 20","arg":"speed\/20"},{"title":"Speed 30","arg":"speed\/30"},{"title":"Speed 40","arg":"speed\/40","subtitle":""},{"title":"Speed 50","arg":"speed\/50"},{"title":"Speed 60","arg":"speed\/60"},{"title":"Speed 70","arg":"speed\/70"},{"title":"Speed 80","arg":"speed\/80"}]</string>
				<key>keyword</key>
				<string>t</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BAF9DFCC-8CA0-404E-9F29-ED4127DFE9E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -xe
query="{query}"

curl -X POST "http://localhost:4934/treadmill/{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C4E5C58-FF21-42CC-A0EA-3F68581DA9E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C4E5C58-FF21-42CC-A0EA-3F68581DA9E0</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>BAF9DFCC-8CA0-404E-9F29-ED4127DFE9E9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
